include MANIFEST.in
include LICENSE
include README.md
include kibot/resources/report_templates/*.txt
include kibot/resources/kicad_colors/*.json
include kibot/resources/kicad_layouts/*.kicad_wks
include kibot/resources/config_templates/gerber/*.yaml
include kibot/resources/config_templates/bom/*.yaml
include kibot/resources/config_templates/bom/*.yaml
include kibot/resources/config_templates/panelize/*.yaml
include kibot/resources/config_templates/*.yaml
include kibot/resources/images/*.svg
include kibot/resources/images/*.ico
include kibot/resources/pcbdraw/styles/*.json
include kibot/resources/pcbdraw/templates/*.handlebars
include kibot/blender_scripts/*.py
recursive-include kibot/resources/pcbdraw/footprints/ *.svg LICENCE *.md *.py *.pl *.png
recursive-include kibot/resources/pcbdraw/present/ *.css *.html *.json *.js
