Source: kiplot.inti-cmnb
Section: electronics
Priority: optional
Maintainer: Salvador Eduardo Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.4
Homepage: https://github.com/INTI-CMNB/kiplot
X-Python3-Version: >= 3.2

Package: kiplot.inti-cmnb
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-yaml, kicad (>= 5.1.0), python3-wxgtk4.0
Recommends: kibom.inti-cmnb, kicad-automation-scripts.inti-cmnb (>= 1.1.2), interactivehtmlbom.inti-cmnb
Description: KiCad Plotter (KiPlot)
 KiPlot is a program which helps you to plot your KiCad PCBs to output
 formats easily, repeatable, and most of all, scriptably.
 .
 This means you can use a Makefile to export your KiCad PCBs just as
 needed.
