Source: kibot
Section: electronics
Priority: optional
Maintainer: Salvador Eduardo Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper (>=11~), dh-python, python3-all
Standards-Version: 4.1.4
Homepage: https://github.com/INTI-CMNB/KiBot
X-Python3-Version: >= 3.6

Package: kibot
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-yaml, kicad (>= 5.1.6) | kicad-nightly, python3-wxgtk4.0, python3-xvfbwrapper, python3-lark (>= 0.10.0)
Recommends: kibom.inti-cmnb (>= 1.8.0), kicost (>= 1.1.8), interactivehtmlbom.inti-cmnb (>= 2.4.1), imagemagick, librsvg2-bin, python3-xlsxwriter, rar, ghostscript, python3-lxml, python3-mistune, kikit, python3-markdown2
Suggests: pandoc, texlive-latex-base, texlive-latex-recommended, git, poppler-utils, kidiff, python3-numpy
Description: KiCad Bot
 KiBot is a program which helps you to automate the generation of KiCad
 output documents easily, repeatable, and most of all, scriptably.
 .
 This means you can use a Makefile to export your KiCad PCBs and
 Schematics just as needed.
